
:root {
	--page-bg-color: #eeeeff;

	--btn-bg-color: #8888dd;
	--btn-text-color: #eeeeff;
	--btn-hover-color: #aaaadd;
	--btn-clicked-color: #9999ff;
	
	--card-bg-color: #eeeeff;
	--card-click-color: #ccccff;
	--card-hover-color: #aaaadd;
	
	--cell-bg-color: #343a40;
	--cell-click-color: #666699;
	--cell-hover-color: #444466;

	--game-area-border-color: #aaaadd;
	--game-area-bg-color: #ddddee;
}

h1 {
	text-align: center;
}

h3 {
	text-align: center;
}

th {
	text-align: center;
}

td {
	text-align: center;
}

p {
	font-size: 24px;
}

hr {
	width: 60%;
}



.center {
	text-align: center;
}


.btn-selection{
	background-color: var(--btn-bg-color);
	color: var(--btn-text-color);
}

.btn-selection:hover{
	background-color: var(--btn-hover-color);
	color: var(--btn-text-color);
}

.btn-selection:focus{
	background-color: var(--btn-clicked-color);
	color: var(--btn-text-color);
}


.card{
	background-color: var(--card-bg-color);
	transition: 0.2s;
}

.card:after {
	content: "";
	display: block;
}

.card:hover {
	background-color: var(--card-hover-color);
}

.card:active {
	background-color: var(--card-click-color);
}

.card-contents{
	-webkit-touch-callout : none;
	-webkit-user-select: none;
}

.cell{
	background-color: var(--cell-bg-color);
	transition: 0.2s;
}

.cell:hover {
	background-color: var(--cell-hover-color);
}

.cell:active {
	background-color: var(--cell-click-color);
}

.cell-contents{
	-webkit-touch-callout : none;
	-webkit-user-select: none;

	font-size: 18px;
}

.find-tile{
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: var(--game-area-border-color);
	background-color: var(--card-bg-color);
	padding: 1px;
	margin: 1px;

	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	display: inline-block;
}

.find-tile:hover {
	background-color: var(--card-hover-color);
}

.find-tile:active {
	background-color: var(--card-click-color);
}

.find-tile-contents{
	-webkit-touch-callout : none;
	-webkit-user-select: none;
}


.finding-area{
	padding: 10px;
}

.game-area{
	border-style: solid;
	border-color: var(--game-area-border-color);
	border-width: 5px;
	border-radius: 10px;

	background-color: var(--game-area-bg-color);
}


.massive {
	font-size: 96px;
}


.settings-area{
	border-style: solid;
	border-color: var(--game-area-border-color);
	border-width: 5px;
	border-radius: 10px;

	background-color: var(--game-area-bg-color);
}