
:root {
	--page-bg-color: #eeeeff;

	--btn-bg-color: #8888dd;
	--btn-text-color: #eeeeff;
	--btn-hover-color: #aaaadd;
	--btn-clicked-color: #9999ff;
	
	--card-bg-color: #eeeeff;
	--card-click-color: #aaaadd;
	--card-hover-color: #ccccff;

	--font-normal-color: #222244;
	--font-fade-color: #aaaacc;


	--kana-cell-bg-color: #343a40;
	--kana-cell-click-color: #666699;
	--kana-cell-hover-color: #444466;

	--game-area-border-color: #aaaadd;
	--game-area-bg-color: #ddddee;

	--success-fill-color: #88e8a8;
	--success-border-color: #339966;
	--failure-fill-color: #e47070;
	--failure-border-color: #df3c3c;

}

h1 {
	text-align: center;
}

h3 {
	text-align: center;
}

th {
	text-align: center;
}

td {
	text-align: center;
}

p {
	font-size: 24px;
}

hr {
	width: 60%;
}

/*div { outline: 1px dashed blue } span { outline: 1px dashed green }*/

.center {
	text-align: center;
}


.btn-selection{
	background-color: var(--btn-bg-color);
	color: var(--btn-text-color);
}

.btn-selection:hover{
	background-color: var(--btn-hover-color);
	color: var(--btn-text-color);
}

.btn-selection:focus{
	background-color: var(--btn-clicked-color);
	color: var(--btn-text-color);
}

.card-success{
	border-color: var(--success-border-color) !important;
	background-color: var(--success-fill-color) !important;
}

.card-failure{
	border-color: var(--failure-border-color) !important;
	background-color: var(--failure-fill-color) !important;
}

.card{
	background-color: var(--card-bg-color);
	transition: 0.15s;

	min-width: 420px;
	min-height: 420px;

	padding: 10px;
	border-style: solid;
	border-width: 4px;
	border-radius: 10px;
	border-color: var(--game-area-border-color);
}

.card:after {
	content: "";
	display: block;
}

/*
.card:hover {
	background-color: var(--card-hover-color);
}*/
/*
.card:active {
	background-color: var(--card-click-color);
}*/

.card-contents{
	-webkit-touch-callout : none;
	-webkit-user-select: none;
}


/* finding area & tiles */

.finding-area{
	padding: 10px;
	border-style: solid;
	border-width: 4px;
	border-radius: 10px;
	border-color: var(--game-area-border-color);
}

.find-tile{
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: var(--game-area-border-color);
	background-color: var(--card-bg-color);
	padding: 1px;
	margin: 1px;
	
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: var(--font-normal-color);
	font-weight: bold;
	display: inline-block;
}

.find-tile:hover {
	background-color: var(--card-hover-color);
}

.find-tile:active {
	background-color: var(--card-click-color);
}

.tile-faded {
	color: var(--font-fade-color) !important;
}



/* main game area */ 

.game-area{
	border-style: solid;
	border-color: var(--game-area-border-color);
	border-width: 5px;
	border-radius: 10px;

	background-color: var(--game-area-bg-color);
}

/* kana table cells */

.kana-cell{
	background-color: var(--kana-cell-bg-color);
	transition: 0.2s;
}

.kana-cell:hover {
	background-color: var(--kana-cell-hover-color);
}

.kana-cell:active {
	background-color: var(--kana-cell-click-color);
}

.kana-cell-contents{
	-webkit-touch-callout : none;
	-webkit-user-select: none;

	font-size: 18px;
}



.massive {
	font-size: 96px;
}


.settings-area{
	border-style: solid;
	border-color: var(--game-area-border-color);
	border-width: 5px;
	border-radius: 10px;

	background-color: var(--game-area-bg-color);
}

.tile-contents{
	-webkit-touch-callout : none;
	-webkit-user-select: none;
}

#main-chart{
	display:none;
}
#dakuten-chart{
	display:none;
}
#combo-chart{
	display:none;
}

#btn-hide-main{
	display:none;
}
#btn-hide-dakuten{
	display:none;
}
#btn-hide-combo{
	display:none;
}